<h1>Dia con Mayor Numero de Vuelos</h1>

<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar Dia">
    </mat-form-field>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <!-- Weight Column -->
    <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.dia | date:'dd/MM/yyyy'}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,25,100]"></mat-paginator>